<a href="https://colab.research.google.com/github/jlee33/BDI-Superbowl/blob/main/BDI_475_Final_Case_Roughdraft.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

I have picked this dataset to anaylze primarily because of my interest in football. I have been watching football as long as I can remember and I think it will be interesting to answer some questions I have had through this data. Additionally, sports data is what really got me interested in overall data analytics.

Questions:
What is the average number of points scored by Superbowl winners?
What is the average number of points scored by Superbowl losers?
Has a team ever won a Superbowl in their home stadium?
How many teams have played a Superbowl in their home stadium?
How many times has each team won a Superbowl?
How many teams have never won a Superbowl?
How many teams have never been to the Superbowl?
How many times has each Superbowl MVP won the award?
How many times has each position (QB, RB, etc.) won Superbowl MVP?
Has a player ever won the Superbowl MVP for multiple teams?
How many times has the Superbowl been hosted at each stadium?
What is the longest gap in years between Superbowl wins for a team?
What is the longest gap in years between Superbowl MVP awards for players?

In [1]:
import numpy as np
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go

In [2]:
df_superbowl = pd.read_csv('https://github.com/jlee33/BDI-Superbowl/raw/main/superbowl%20dataset%20bdi%20475.csv')

In [3]:
df_superbowl.shape

(54, 10)

In [4]:
df_superbowl.info

<bound method DataFrame.info of            Date            SB  ...             City       State
0    Feb 2 2020      LIV (54)  ...    Miami Gardens     Florida
1    Feb 3 2019     LIII (53)  ...          Atlanta     Georgia
2    Feb 4 2018      LII (52)  ...      Minneapolis   Minnesota
3    Feb 5 2017       LI (51)  ...          Houston       Texas
4    Feb 7 2016            50  ...      Santa Clara  California
5    Feb 1 2015     XLIX (49)  ...         Glendale     Arizona
6    Feb 2 2014   XLVIII (48)  ...  East Rutherford  New Jersey
7    Feb 3 2013    XLVII (47)  ...      New Orleans   Louisiana
8    Feb 5 2012     XLVI (46)  ...     Indianapolis     Indiana
9    Feb 6 2011      XLV (45)  ...        Arlington       Texas
10   Feb 7 2010     XLIV (44)  ...    Miami Gardens     Florida
11   Feb 1 2009    XLIII (43)  ...            Tampa     Florida
12   Feb 3 2008     XLII (42)  ...         Glendale     Arizona
13   Feb 4 2007      XLI (41)  ...    Miami Gardens     Florida
14   Feb 5 2006       XL (40)  ...          Detroit    Michigan
15   Feb 6 2005    XXXIX (39)  ...     Jacksonville     Florida
16   Feb 1 2004  XXXVIII (38)  ...          Houston       Texas
17  Jan 26 2003   XXXVII (37)  ...        San Diego  California
18   Feb 3 2002    XXXVI (36)  ...      New Orleans   Louisiana
19  Jan 28 2001     XXXV (35)  ...            Tampa     Florida
20  Jan 30 2000    XXXIV (34)  ...          Atlanta     Georgia
21  Jan 31 1999   XXXIII (33)  ...    Miami Gardens     Florida
22  Jan 25 1998    XXXII (32)  ...        San Diego  California
23  Jan 26 1997     XXXI (31)  ...      New Orleans   Louisiana
24  Jan 28 1996      XXX (30)  ...            Tempe     Arizona
25  Jan 29 1995     XXIX (29)  ...    Miami Gardens     Florida
26  Jan 30 1994   XXVIII (28)  ...          Atlanta     Georgia
27  Jan 31 1993    XXVII (27)  ...         Pasadena  California
28  Jan 26 1992     XXVI (26)  ...      Minneapolis   Minnesota
29  Jan 27 1991      XXV (25)  ...            Tampa     Florida
30  Jan 28 1990     XXIV (24)  ...      New Orleans   Louisiana
31  Jan 22 1989    XXIII (23)  ...    Miami Gardens     Florida
32  Jan 31 1988     XXII (22)  ...        San Diego  California
33  Jan 25 1987      XXI (21)  ...         Pasadena  California
34  Jan 26 1986       XX (20)  ...      New Orleans   Louisiana
35  Jan 20 1985      XIX (19)  ...        Palo Alto  California
36  Jan 22 1984    XVIII (18)  ...            Tampa     Florida
37  Jan 30 1983     XVII (17)  ...         Pasadena  California
38  Jan 24 1982      XVI (16)  ...          Pontiac    Michigan
39  Jan 25 1981       XV (15)  ...      New Orleans   Louisiana
40  Jan 20 1980      XIV (14)  ...         Pasadena  California
41  Jan 21 1979     XIII (13)  ...            Miami     Florida
42  Jan 15 1978      XII (12)  ...      New Orleans   Louisiana
43   Jan 9 1977       XI (11)  ...         Pasadena  California
44  Jan 18 1976        X (10)  ...            Miami     Florida
45  Jan 12 1975        IX (9)  ...      New Orleans   Louisiana
46  Jan 13 1974      VIII (8)  ...          Houston       Texas
47  Jan 14 1973       VII (7)  ...      Los Angeles  California
48  Jan 16 1972        VI (6)  ...      New Orleans   Louisiana
49  Jan 17 1971         V (5)  ...            Miami     Florida
50  Jan 11 1970        IV (4)  ...      New Orleans   Louisiana
51  Jan 12 1969       III (3)  ...            Miami     Florida
52  Jan 14 1968        II (2)  ...            Miami     Florida
53  Jan 15 1967         I (1)  ...      Los Angeles  California

[54 rows x 10 columns]>

In [5]:
pd.to_datetime

In [6]:
df_superbowl.head(5)

         Date         SB  ...           City       State
0  Feb 2 2020   LIV (54)  ...  Miami Gardens     Florida
1  Feb 3 2019  LIII (53)  ...        Atlanta     Georgia
2  Feb 4 2018   LII (52)  ...    Minneapolis   Minnesota
3  Feb 5 2017    LI (51)  ...        Houston       Texas
4  Feb 7 2016         50  ...    Santa Clara  California

[5 rows x 10 columns]

In [7]:
df_superbowl.tail(5)

           Date       SB  ...         City       State
49  Jan 17 1971    V (5)  ...        Miami     Florida
50  Jan 11 1970   IV (4)  ...  New Orleans   Louisiana
51  Jan 12 1969  III (3)  ...        Miami     Florida
52  Jan 14 1968   II (2)  ...        Miami     Florida
53  Jan 15 1967    I (1)  ...  Los Angeles  California

[5 rows x 10 columns]

In [8]:
df_superbowl.sample(5)

           Date            SB  ...          City    State
3    Feb 5 2017       LI (51)  ...       Houston    Texas
8    Feb 5 2012     XLVI (46)  ...  Indianapolis  Indiana
41  Jan 21 1979     XIII (13)  ...         Miami  Florida
16   Feb 1 2004  XXXVIII (38)  ...       Houston    Texas
5    Feb 1 2015     XLIX (49)  ...      Glendale  Arizona

[5 rows x 10 columns]

In [9]:
df_loser_under_10_sample = df_superbowl[df_superbowl['Loser Pts'] < 10].sample(10)
display(df_loser_under_10_sample.head(5))

           Date          SB  ...         City       State
19  Jan 28 2001   XXXV (35)  ...        Tampa     Florida
47  Jan 14 1973     VII (7)  ...  Los Angeles  California
50  Jan 11 1970      IV (4)  ...  New Orleans   Louisiana
1    Feb 3 2019   LIII (53)  ...      Atlanta     Georgia
36  Jan 22 1984  XVIII (18)  ...        Tampa     Florida

[5 rows x 10 columns]

In [10]:
df_superbowl_by_winning_team = df_superbowl.groupby(
    df_superbowl['Winner'],
    as_index=False
).size()

df_superbowl_by_winning_team.rename(columns={
    'Winner':'Team_Name',
    'size': 'num_SB_wins'
}, inplace=True)
display(df_superbowl_by_winning_team)

               Team_Name  num_SB_wins
0        Baltimore Colts            1
1       Baltimore Ravens            2
2          Chicago Bears            1
3         Dallas Cowboys            5
4         Denver Broncos            3
5      Green Bay Packers            4
6     Indianapolis Colts            1
7     Kansas City Chiefs            2
8    Los Angeles Raiders            1
9         Miami Dolphins            2
10  New England Patriots            6
11    New Orleans Saints            1
12       New York Giants            4
13         New York Jets            1
14       Oakland Raiders            2
15   Philadelphia Eagles            1
16   Pittsburgh Steelers            6
17   San Francisco 49ers            5
18      Seattle Seahawks            1
19        St. Louis Rams            1
20  Tampa Bay Buccaneers            1
21   Washington Redskins            3